.monaco-scrollable-element {
  /*
  font-family: -apple-system,BlinkMacSystemFont,sans-serif
    font-family: "mplus-1m-regular";
  */


  font-family: "mplusforpowerline-1mn-light";
}
/* visualize unexpected chars in an angular template */ 
span.mtk1.unexpected-closing-bracket,
span.mtk44.mtkb.unexpected-closing-bracket {
  color: #fba800 !important;
  font-weight: bold !important;
  border: 1px dotted red !important;
}
