html,body, * {
  padding: 0;
  margin: 0;
  background-color: black;
}


.kittContainer {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

hr{
  display:block;
  margin:0 auto;
  height:15px;
  width:105px;
  border:none;
  border-radius: 3px;

  animation: kittAnimation 1s infinite ease-in-out alternate;
}

hr:before{
  content:" ";
  display:inline-block;
  width:15px;
  height:15px;

  animation: kittAnimationBefore 1s infinite ease-in-out alternate;
}

hr:after{
  content:" ";
  display:inline-block;
  width:15px;
  height:15px;
  background-color: black;

  animation: kittAnimationAfter 1s infinite ease-in-out alternate;
}




@keyframes kittAnimation {
   0% {
      background-color: black;
      border-left:15px solid #f00000;
      border-right:15px solid  black;
   }
   10% {
      background-color: black;
      border-left:15px solid #f00000;
      border-right:15px solid  black;
   }
   20% {
      background-color: black;
      border-left:15px solid #c00000;
      border-right:15px solid  black;
   }
   30% {
      background-color: black;
      border-left:15px solid #a00000;
      border-right:15px solid  black;
   }
   40% {
      background-color: black;
      border-left:15px solid #390202;
      border-right:15px solid  black;
   }
   50% {
      background-color:#390202;
      border-left:15px solid  black;
      border-right:15px solid  black;
   }
   60% {
      background-color:#a00000;
      border-left:15px solid  black;
      border-right:15px solid #390202;
   }
   70% {
      background-color:#c00000;
      border-left:15px solid  black;
      border-right:15px solid #a00000;
   }
   80% {
      background-color:#f00000;
      border-left:15px solid  black;
      border-right:15px solid #c00000;
   }
   90% {
      background-color:#c00000;
      border-left:15px solid  black;
      border-right:15px solid #f00000;
   }
   100% {
      background-color:#c00000;
      border-left:15px solid  black;
      border-right:15px solid #f00000;
   }
}

@keyframes kittAnimationBefore {
   0% {
      background-color:#a00000;
      border-left:15px solid #c00000;
      border-right:15px solid #390202;
   }
   10% {
      background-color:#a00000;
      border-left:15px solid #c00000;
      border-right:15px solid #390202;
   }
   20% {
      background-color:#c00000;
      border-left:15px solid #f00000;
      border-right:15px solid #a00000;
   }
   30% {
      background-color:#f00000;
      border-left:15px solid #c00000;
      border-right:15px solid #c00000;
   }
   40% {
      background-color:#c00000;
      border-left:15px solid #a00000;
      border-right:15px solid #f00000;
   }
   50% {
      background-color:#a00000;
      border-left:15px solid #390202;
      border-right:15px solid #c00000;
   }
   60% {
      background-color:#390202;
      border-left:15px solid  black;
      border-right:15px solid #a00000;
   }
   70% {
      background-color: black;
      border-left:15px solid  black;
      border-right:15px solid #390202;
   }
   80% {
      background-color: black;
      border-left:15px solid  black;
      border-right:15px solid  black;
   }
   90% {
      background-color: black;
      border-left:15px solid  black;
      border-right:15px solid  black;
   }
   100% {
      background-color: black;
      border-left:15px solid  black;
      border-right:15px solid  black;
   }
}

@keyframes kittAnimationAfter {
   0% {
      background-color: black;
      border-left:15px solid  black;
      border-right:15px solid  black;
   }
   10% {
      background-color: black;
      border-left:15px solid  black;
      border-right:15px solid  black;
   }
   20% {
      background-color: black;
      border-left:15px solid #390202;
      border-right:15px solid  black;
   }
   30% {
      background-color:#390202;
      border-left:15px solid #a00000;
      border-right:15px solid  black;
   }
   40% {
      background-color:#a00000;
      border-left:15px solid #c00000;
      border-right:15px solid #390202;
   }
   50% {
      background-color:#c00000;
      border-left:15px solid #f00000;
      border-right:15px solid #a00000;
   }
   60% {
      background-color:#f00000;
      border-left:15px solid #c00000;
      border-right:15px solid #c00000;
   }
   70% {
      background-color:#c00000;
      border-left:15px solid #a00000;
      border-right:15px solid #f00000;
   }
   80% {
      background-color:#a00000;
      border-left:15px solid #390202;
      border-right:15px solid #c00000;
   }
   90% {
      background-color:#390202;
      border-left:15px solid  black;
      border-right:15px solid #a00000;
   }
   100% {
      background-color:#390202;
      border-left:15px solid  black;
      border-right:15px solid #a00000;
   }
}
