.idea
/.idea/
.vscode
/.vscode/
.DS_Store
JavaScript/ES6/node_modules/
JavaScript/ES6/.idea

/Frameworks/RxJS/node_modules/
Frameworks/RxJS/node_modules/
/JavaScript/EXAMPLES/__MGM/node_modules/
/.JavaScript/EXAMPLES/__MGM/node_modules/

node_modules
/node_modules

package-lock.json
Lodash/examples/node_modules
Lodash/examples/package-lock.json
__IGNORED_CACHE