.container {
  display: grid;
  grid-template-columns: 1fr 1fr 100px;
  gap: 10px;
}

.container-border-co {
  margin: 20px;
  border: 1px solid red;
}

.item {
  background-color: yellowgreen;
  padding: 20px;
  border: 1px solid blue;
}
