.container {
  display: grid;
  gap: 10px;

  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  /* grid-template-columns: repeat(auto-fill, 400px);
  grid-template-columns: repeat(auto-fill, minmax(400px, auto)); */
}

.container-border-co {
  margin: 20px;
  border: 1px solid red;
  /* overflow-x: auto; */
}

.item {
  background-color: yellowgreen;
  padding: 20px;
  border: 1px solid blue;
}
