.monaco-scrollable-element {
  /*
  font-family: -apple-system,BlinkMacSystemFont,sans-serif
    font-family: "mplus-1m-regular";
  */


  font-family: "mplusforpowerline-1mn-light";
}

span.mtk13 {
  font-size: 14px;
}
